@using Microsoft.AspNetCore.Html
@using UI.Plan.Web.ClassExtensions
@model EventCalendarViewModel

@{
    ViewBag.Title = "Event Month";

    var today = DateTime.Today;
    var currentDay = today.Day - 1;
    var dayIndex = 0;

    IEnumerable<Event> dayEvents;
}

@functions
{

    IHtmlContent PrintEvents(int dayNumber, DateTime today)
    {
        if (dayNumber >= Model.DaysInMonth) return null;
        var day = new DateTime(today.Year, today.Month, dayNumber);

        var dayEvent = Model.MonthEvents.FirstOrDefault(evt => evt.StartDate?.Year == day.Year && evt.StartDate?.Month == day.Month && evt.StartDate?.Day == day.Day);
        if (@dayEvent?.StartDate == null) return null;
        return Html.Raw($"<div class=\"event\"> " +
                        $"<span>Title: {@dayEvent.Title}</span> " +
                        $"<span>StartDate: {@dayEvent.StartDate?.ToString("HH:mm")}</span> " +
                        $"</div>");
    }
    
    IEnumerable<Event> DayEvents (int dayNumber, DateTime today)
    {
        if (dayNumber >= Model.DaysInMonth) return null;
        var day = new DateTime(today.Year, today.Month, dayNumber);
        // rewrite to ul li
        return Model.MonthEvents.Where(evt => evt.StartDate?.Year == day.Year && evt.StartDate?.Month == day.Month && evt.StartDate?.Day == day.Day);

    }

}
<script>
    function getDetails(uid) {
        $.ajax({
            url: '/Event/Details?uid=' + uid,
            success: function (data) {
                $('#DetailsResult').html(data);
                $("#DetailsResult").dialog({
                    modal: true,
                    width: 'auto',
                    buttons: {
                        "Редактировать": function () {
                            openEditPopup(uid);
                        },
                        "Delete": function () {
                            deleteEvent(uid);
                            $(this).dialog("close");
                        },
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            }
        });
    }

    function saveEvent() {
        $.ajax({
            url: '/Event/Save',
            type: 'post',
            data: $('form#eventSaveForm').serialize(),
            success: function (data) {
                $('#EditPopup').html(data);
            }
        });
    }
    
    function deleteEvent(uid) {
            $.ajax({
                url: '/Event/Delete',
                type: 'post',
                data: {uid : uid},
                success: function (data) {
                    location.reload();
                }
            });
    }
    
    function addPopup() {
            $.ajax({
                url: '/Event/Add',
                success: function (data) {
                    openEditPopup(data.uid)
                }
            });
        }

    function openEditPopup(uid) {
        $.ajax({
            url: '/Event/Edit?uid=' + uid,
            success: function (data) {
                $('#EditPopup').html(data);
                $("#EditPopup").dialog({
                    modal: true,
                    width: 'auto',
                    buttons: {
                        "Сохранить": function () {
                            saveEvent();
                            $(this).dialog("close");
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function () {
                        //form[0].reset();
                    }
                });
            }
        });
    }
    
</script>

<h2>@ViewBag.Title</h2>


<div class="calendar">
<div>
    <a asp-controller="PlanManager" asp-action="Index" asp-route-year="@Model.Date.AddMonths(-1).Year" asp-route-month="@Model.Date.AddMonths(-1).Month" >Previous Month</a>
    <a asp-controller="PlanManager" asp-action="Index" asp-route-year="@Model.Date.AddMonths(1).Year" asp-route-month="@Model.Date.AddMonths(1).Month" >Next Month</a>
</div>
    @Model.Date.ToString("MMMM yyyy")
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>понедельник</th>
            <th>вторник</th>
            <th>среда</th>
            <th>четверг</th>
            <th>пятница</th>
            <th>суббота</th>
            <th>воскресенье</th>
        </tr>
        @for (var i = 0; i < Model.RowCount; i++)
        {
            <tr>
                @for (var j = 0; j < Model.ColumnCount; j++)
                {
                    if (j >= Model.Date.DayOfWeek.ToRusInt() - 1 || i > 0)
                    {
                        var tdClass = dayIndex == currentDay && Model.Date.Year == today.Date.Year && Model.Date.Month  == today.Date.Month
                            ? "highlight"
                            : "";
                        <td class="@(tdClass)">
                            @(dayIndex++ < Model.DaysInMonth ? $"{dayIndex}." : "")
                            @{ dayEvents = DayEvents(dayIndex, Model.Date); }
                            @if (dayEvents != null)
                            {
                                @foreach (var dayEvent in dayEvents)
                                 {
                                     <div class="event">
                                        <a href="#" title="@dayEvent.Title" onclick="getDetails('@dayEvent.Uid')">
                                            @dayEvent.Title
                                        </a>
                                        <span>StartDate: @dayEvent.StartDate?.ToString("HH:mm")</span>
                                     </div>
                                 }
                            }
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        }
    </table>

    <div id="DetailsResult">
    
    </div>
    <div id="EditPopup">
    
    </div>
    
    
    <button style="margin-top: 10px" onclick="addPopup()">Add</button>
</div>


